/* ОСНОВНОЕ */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #F2F3F5;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-rows: min-content min-content min-content auto min-content;
    min-height: 100%;
}

/* ХЭДЕР */

header {
    background-color: #FFFFFF;
    background-repeat: repeat-x;
    text-align: left;
    margin-bottom: 25px;
}

nav {
    margin: 0 auto;
    width: 1200px;
    padding: 10px 30px 10px 30px;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}

nav a {
    background-color: transparent;
    text-align: left;
    border: none;
    padding-right: 15px;
    line-height: 50px;
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
}

nav a.left-gap {
    margin-left: 100px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    list-style-type: none;
    padding: 0 10px 0 10px;
}

/* ФЛЭШ-СООБЩЕНИЯ */

.flash {
    margin: 0 auto;
    line-height: 20px;
}

/* КНОПКИ */

button.border {
    font: bold 14px black;
    font-family: monospace;
    cursor: pointer;
    border-radius: 10px;
    text-align: left;
    padding: 15px;
}

button.call_me {
    border: 2px solid #C5C7CE;
    background-color: transparent;
}

button.call_me:hover {
    color: #787D8B;
}

button.login {
    border: 2px solid black;
    background-color: transparent;
}

button.try {
    color: white;
    border: 2px solid black;
    background-color: black;
}

button.top_menu {
    background-color: transparent;
    border: none;
}

button.cart {
    color: white;
    border: 2px solid black;
    background-color: black;
}

input.filter-find {
    font: bold 14px black;
    font-family: monospace;
    cursor: pointer;
    border-radius: 10px;
    text-align: left;
    padding: 10px 15px 10px 15px;
    color: white;
    border: 2px solid black;
    background-color: black;
}

/* ФУТЕР */

footer li {
    list-style-type: none;
    padding: 0 10px 0 10px;
}

footer .center {
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 10px;
    padding: 0 30px 0 30px;
}

footer {
    background-color: #E7E9ED;
    background-repeat: repeat-x;
    text-align: center;
}

footer ul {
    margin: 0;
    padding: 0;
}

.row {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: black;
}

footer h4.larger {
    font-size: 25px;
}

footer h4:not(.larger) {
    color: #787D8B;
}

footer .gray {
    color: #787D8B;
}

.default-cursor {
    cursor: default;
}

footer .call_me {
    margin: 5px 0 5px 0;
    padding: 10px;
}


/* ФАВИКОНКИ В ФУТЕРЕ */

.fa {
    font-size: 15px;
    border: 2px solid #C5C7CE;
}

.fa.vk {
    width: 25px;
    border-radius: 40px 20px 40px 20px;
}

.fa.youtube {
    width: 30px;
    border-radius: 10px 5px 10px 5px;
}

.fa.ok {
    width: 30px;
    border-radius: 50px 50px 50px 50px;
}

.fa.tiktok {
    width: 30px;
    border-radius: 50px 50px 50px 50px;
}

.fa.telegram {
    width: 30px;
    border-radius: 50px 50px 50px 50px;
}

/* КОНТЕНТ И САЙД-БАР */

.wrapper {
    margin: 0 auto;
    display: flex;
    width: 1135px;
    margin-bottom: 30px;
}

aside {
    width: 30%;
    text-align: left;
}

main {
    width: 100%;
    padding: 0 0 0 0;
}

/* ГЛАВНАЯ */

main.content {
    text-align: center;
}

.left-align {
    text-align: left;
}

/* КУРСЫ */

.course-wrap {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 10px;
    height: 140px;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.course-wrap a,
.teachers-wrap a {
    text-decoration: none;
    color: black;
}

.about-course,
.about-cart {
    display: flex;
    height: 100%;
}

.about-course img {
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.about-course button {
    margin-top: 43%;
    margin-right: 20px;
}

select.courses {
    font-family: monospace;
    font-weight: bold;
    background-color: #FFFFFF;
    text-align: left;
    border-radius: 10px;
    padding: 10px 15px 10px 5px;
    border: 2px solid black;
    margin-bottom: 20px;
    cursor: pointer;
}

img.courses-banner {
    width: 100%;
    margin: 0 0 40px 0;
    border-radius: 10px;
}

.sub-header {
    margin: 0 auto;
    width: 1135px;
    margin-bottom: 20px;
    height: min-content;
    text-align: center;
}

.sub-header button {
    margin-top: 10px;
}

.leftbar-form-bottom-margin {
    margin-bottom: 20px;
}

.leftbar-subjects-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.leftbar-subject {
    margin: 0 20px 20px 0;
}

.leftbar-subject input[type=radio] {
    display: none;
}

.leftbar-subject label {
    background-color: white;
    padding: 5px;
    border: 2px solid #C5C7CE;
    border-radius: 10px;
    cursor: pointer;
}

.leftbar-subject input[type=radio]:checked+label {
    background-color: black;
    border: 2px solid black;
    color: #FFFFFF;
}

.course-paginator a {
    text-decoration: none;
    color: #787D8B;
    ;
}

.course-paginator a.current {
    color: black
}

.red-circle-cart_count-index,
.red-circle-cart_count-show {
    position: relative;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 50%;
    background-color: #FF613F;
    color: white;
    font-size: 0.8em;
    right: -533px;
}

.red-circle-cart_count-show {
    right: -550px;
}

.all-course-info,
.all-cart-course-info {
    direction: flex;
    padding: 20px 5px 20px 10px;
}

.all-cart-course-info {
    width: 100%;
}

.all-course-info p,
.all-cart-course-info p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;

}

.course-labels,
.show-course-labels,
.teacher-labels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

p.course-label,
p.course-label-teacher,
p.teacher-label,
p.show-course-label,
p.show-course-label-teacher {
    border: 1px solid black;
    padding: 2px 5px 2px 5px;
    margin: 0 5px 0 5px;
    background-color: white;
    border: 2px solid #C5C7CE;
    border-radius: 10px;
}

p.course-label-teacher,
p.show-course-label-teacher {
    background-color: #C5C7CE;
}

.course-info-title {
    font-size: 1.3em;
}

/* КУРС SHOW */

img.show-course,
img.cart-course {
    height: 100%;
}

img.show-teacher {
    width: 660px;
}

.show-course-wrapper {
    height: 350px;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    cursor: default;
}

.teacher-wrapper {
    height: 500px;
}

p.course-label-teacher {
    background-color: #C5C7CE;
}

.show-course-info {
    padding: 10px 40px 10px 40px;
}

p.course-description {
    line-height: 20px;
}

button.show {
    width: 180px;
    margin-top: 10px;
}

.show-course-labels {
    margin-bottom: 20px;
}

/* КОРЗИНА */

a.cart_count {
    text-decoration: none;
    color: white;
}

button.add-to-cart,
button.cart-pay,
button.cart-delete,
button.course-watch {
    background-color: black;
    border: 2px solid black;
    color: white;
    border-radius: 10px;
    font-family: monospace;
    width: 105px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

button.show-teacher {
    width: max-content;
    margin-top: 5px;
}

button.course-watch {
    margin-top:10px;
}

button.cart-delete {
    width: 185px;
}

button.add-to-cart:hover,
button.cart-delete:hover,
button.cart-pay:hover {
    text-shadow: 0.1px 0.1px white;
}

button.add-to-cart-disabled {
    background-color: white;
    color: black;
    cursor: default;

}

.cart-wrapper {
    background-color: white;
    height: 250px;
    margin-bottom: 30px;
}

.cart-buttons {
    display: flex;
    justify-content: center;
}

.cart-buttons button {
    margin: 10px 10px 0 10px;
}

hr.cart {
    height: 2px;
    background-color:#C5C7CE;
}

/* ПРЕПОДАВАТЕЛИ */

.teachers-wrap {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-between;
    margin: 0 auto;
}

.about-teacher {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 10px;
    height: 270px;
}

.about-teacher img {
    width: 100%;
    height: 67%;
    border-radius: 10px 10px 0 0;
}

/* ОТКРЫТЫЕ ВЕБИНАРЫ СПИСОК */

.vebinars-wrap {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-between;
    margin: 0 auto;
}

.vebinars-wrap a {
    text-decoration: none;
    color: black;
}

.about-vebinar {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 10px;
    height: 200px;
}


.about-vebinar img {
    width: 100%;
    height: 80%;
    border-radius: 10px 10px 0 0;
}

.about-vebinar p {
    margin: 5px 10px 10px 10px;
}

/* ОТКРЫТЫЙ ВЕБИНАР ОТДЕЛЬНО */

.video {
    position: relative;
    margin: 15px;
    width: 600px;
    height: 338px;
    background-color: #F2F3F5;
    display: inline-block;
}

.video iframe,
.video img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border: none;
}

.btn-reset {
    border: none;
    background: transparent;
    cursor: pointer;
}

.video-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-play-shape {
    fill: #212121;
    fill-opacity: 0.8;
}

.video-play-icon {
    fill: #ffffff;
}

.video-play:focus {
    outline: none;
}

.video:hover .video-play-shape,
.video:focus .video-play-shape {
    fill: #ff0000;
    fill-opacity: 1;
}