/* ОСНОВНОЕ */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #F2F3F5;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-rows: min-content min-content auto min-content;
    min-height: 100%;
}

/* ХЭДЕР */

header {
    background-color: #FFFFFF;
    background-repeat: repeat-x;
    text-align: left;
    margin-bottom: 40px;
}

nav {
    margin: 0 auto;
    width: 1200px;
    padding: 10px 0 10px 0;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}

nav a {
    background-color: transparent;
    text-align: left;
    border: none;
    padding-right: 15px;
    line-height: 50px;
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
}

nav a.left-gap {
    margin-left: 100px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    list-style-type: none;
    padding: 0 10px 0 10px;
}

/* КНОПКИ */

button {
    font: bold 14px black;
    font-family: monospace;
    cursor: pointer;
    border-radius: 10px;
    text-align: left;
    padding: 15px;
}

button.call_me {
    border: 2px solid #C5C7CE;
    background-color: transparent;
}

button.call_me:hover {
    color: #787D8B;
}

button.login {
    border: 2px solid black;
    background-color: transparent;
}

button.try {
    color: white;
    border: 2px solid black;
    background-color: black;
}

button.top_menu {
    background-color: transparent;
    border: none;
}

button.cart {
    color: white;
    border: 2px solid black;
    background-color: black;
}

button.leftbar-subject {
    background-color: white;
    padding: 5px;
    border: 2px solid #C5C7CE;
    margin: 0 10px 10px 0;
}

/* ФУТЕР */

footer li {
    list-style-type: none;
    padding: 0 10px 0 10px;
}

footer .center {
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 40px;
}

footer {
    background-color: #E7E9ED;
    background-repeat: repeat-x;
    text-align: center;
}

footer ul {
    margin: 0;
    padding: 0;
}

.row {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: black;
}

footer h4.larger {
    font-size: 25px;
}

footer h4:not(.larger) {
    color:#787D8B;
}

footer .gray {
    color: #787D8B;
}


/* ФАВИКОНКИ В ФУТЕРЕ */

.fa {
    font-size: 15px;
    border: 2px solid #C5C7CE; 
}

.fa.vk {
    width: 25px;
    border-radius: 40px 20px 40px 20px;
}

.fa.youtube {
    width: 30px;
    border-radius: 10px 5px 10px 5px;
}

.fa.ok {
    width: 30px;
    border-radius: 50px 50px 50px 50px;
}

.fa.tiktok {
    width: 30px;
    border-radius: 50px 50px 50px 50px;
}

.fa.telegram {
    width: 30px;
    border-radius: 50px 50px 50px 50px;
}

/* КОНТЕНТ И САЙДЕР */

.wrapper {
    margin: 0 auto;
    display: flex;
    width: 1200px;
}

aside {
    width: 30%;
    text-align: left;
}

main {
    width: 100%;
}

/* КУРСЫ */

.course-wrap {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 10px;
    height: 140px;
    display: flex;
    width: 100%;
}

.course-wrap img {
    height: 120px;
    margin: 10px;
    margin-right: 40px;
    width: 20%;
}

select.courses {
    font-family: monospace;
    font-weight: bold;
    background-color: #FFFFFF;
    text-align: left;
    border-radius: 10px;
    padding: 10px 15px 10px 5px;
    border: 2px solid black;
    margin-bottom: 20px;
    cursor: pointer;
}

img.courses-banner {
    width: 100%;
    margin: 0 0 40px 0;
    border-radius: 10px;
}

.sub-header {
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 20px;
    height: min-content;
}

.leftbar-subjects-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* ПРЕПОДАВАТЕЛИ */

.teachers-wrap {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-between;
    margin: 0 auto;
}

.about-teacher {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 10px;
    height: 300px;
}

.about-teacher img {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
}

.about-teacher p {
    padding: 0 10px 10px 10px;
}


