footer {
    background-color: #E7E9ED;
    background-repeat: repeat-x;
}

header {
    background-color: #FFFFFF;
    background-repeat: repeat-x;
    text-align: left;
}

footer li, header li {
    list-style-type: none;
    padding: 10px;
}

.row {
    justify-content: center;
    flex: 0 0 auto;
    display: flex;
}

footer a, header a {
    text-decoration: none;
    color: black;
}

footer h4.larger {
    font-size: 25px;
}

footer h4:not(.larger) {
    color:#787D8B;
}

footer .gray {
    color: #787D8B;
}

footer img {
    height: 18px;
}

footer button, header button {
    font: bold 20px black;
    font-family: monospace;
    cursor: pointer;
}

button.call_me, button.try, button.login {
    border: 2px solid #C5C7CE;
    background-color: transparent;
    text-align: left;
    border-radius: 10px;
    padding: 15px;
}

button.login {
    border: 2px solid black;
    padding: 15px;
    background-color: transparent;
}

button.try {
    color: white;
    border: 2px solid black;
    padding: 15px;
    background-color: black;
}

button.call_me:hover {
    color: #787D8B;
}

button.top_menu {
    background-color: transparent;
    text-align: left;
    border: none;
    padding: 15px;
}

button.main_logo {
    background-color: transparent;
    text-align: left;
    border: none;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.fa {
    font-size: 15px;
    border: 2px solid #C5C7CE; 
}

.fa.vk {
    width: 25px;
    border-radius: 40px 20px 40px 20px;
}

.fa.youtube {
    width: 30px;
    border-radius: 10px 5px 10px 5px;
}

.fa.ok {
    width: 30px;
    border-radius: 50px 50px 50px 50px;
}

.fa.tiktok {
    width: 30px;
    border-radius: 50px 50px 50px 50px;
}

.fa.telegram {
    width: 30px;
    border-radius: 50px 50px 50px 50px;
}



